* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header,footer {
    width: 100%;
}

header, nav, main, footer, aside {
    display: block;
}

h2 {
    margin-bottom: 24px;
}

#logo {
    background-image: url("../images/BarakD.png");
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 75px;
    display: block;
    padding-left: 85px;
    padding-bottom: 30px;
    color: #3E3F43;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 20px;
}

main {
    display: block;
}

.title-wrapper {
    margin-left: 40px;
}

.title {
    font-size: 36px;
    color: #3E3F43;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
}

.secondary {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;  
    margin-top: 18px;
}

.me {
    width: 426px;
    height: 388px;
    object-fit: cover;
}

.rectangle {
    background-color: #F9BDBD;
    display: flex;
    height: 410px;
    padding: 83px 0 84px 40px;
}

.about {
    margin-top: 24px; 
    margin-left: 40px;
}

.about-text {
    width: 741px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}

.exercise-square {
    width: 200px;
    height: 264px;
    border-radius: 25px;
    margin-right: 24px;
}

.exercises {
   margin-top: 83px;
}

.boxes {
    display: flex; 
}

.boxes2 {
    display: flex; 
    margin-bottom: 271px;
}

.exercise-square.color1 {
    background:#FDEDE5;
}

.exercise-square.color2 {
    background:#EBF1FF;
}

.exercise-square.color3 {
    background:#EBFFEC;
}

.exercise-square.color4 {
    background:#FFEBFC;
}

.exercise-square.color5 {
    background:#FFFEEB;
}

.exercise-num {
    position: relative;
    top: 128px;
    left: 24px;
    font-weight: bold;
    font-size: 20px;
}

.exercise-button {
    position: relative;
    top:100px;
    left: 24px;
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.4s, opacity 0.4s;
}

.exercise-button:hover {
    background-color: black;
    color: white;
}

.exercise-button:active {
    opacity: 0.4;
}

.exercise-image {
    position: relative;
    right: 90px;
    width: 75px;
    border-radius: 50px;
}

.details {
   
    margin-top: 83px;
}

.det-list {
    position: relative;

    font-size: 20px;
    margin-left: 40px;
    line-height: 28.13px;
}

footer {
    width: 100%;
    height: 301px;
    background-color: #cdcfd7;
}

.follow {
    position: relative;
    top: 32px;
    margin-left: 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 18px;
    color: #3E3F43;
    margin-bottom: 16px;
}

.social {
    position: relative;
    top: 32px;
    margin-left: 40px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: rgb(123, 121, 121);
    width: 70px;
    height: 30px;
}

.social2 {
    position: relative;
    top: 60px;
    margin-left: 40px;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    color: rgb(123, 121, 121);
}